.detail-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px 10px;
  border-top: 1px solid #ddd;
}

.detail-item {
  flex-basis: calc(33.33% - 10px);
  padding: 5px;
}

.avatar-template img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

