<p>user-table works!</p>
<dx-data-grid [dataSource]="usersList" [showBorders]="true" [columnAutoWidth]="true">
  <dxo-paging [pageSize]="25"></dxo-paging>
  <dxi-column dataField="name" [calculateDisplayValue]="fullName"></dxi-column>
  <dxi-column dataField="gender" dataType="number"></dxi-column>
  <dxi-column dataField="cell"></dxi-column>

  <dxo-master-detail [enabled]="true" [template]="'detail'"></dxo-master-detail>
  <div *dxTemplate="let info of 'detail'">
    <div class="detail-container">
      <div class="detail-item"><b>City:</b> {{info.data.location.city}}</div>
      <div class="detail-item"><b>Street:</b> {{info.data.location.street.name}}</div>
      <div class="detail-item"> <b>Сountry:</b> {{info.data.location.country}}</div>
    </div>

  </div>
</dx-data-grid>


