<div class="filter-block filter-block-title" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
  <h4 class="filter-title m-0">Filter</h4>
</div>

<div class="collapse show" id="collapseExample">
  <div class="card card-body">
    <form [formGroup]="form" (change)="onChangeForm()">
      <div formGroupName="genders">
        <h6>Genders</h6>
        <div *ngFor="let gender of genders; let idx = index">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" [formControlName]="idx" [name]="gender.value" [id]="gender.value">
            <label class="form-check-label" [for]="gender.value">{{gender.name}}</label>
          </div>
        </div>
      </div>
      <hr>

      <div formGroupName="countries" class="overflow-auto" style="max-height: 400px">
        <h6>Countries</h6>
        <div *ngFor="let control of countries; let idx = index">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" [formControlName]="idx" [name]="control.value" [id]="control.value">
            <label class="form-check-label" [for]="control.value">{{control.name}}</label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
